{% extends "escola/base.html" %}

{% block content %}
<h2>Alunos</h2>
<section>
    {% for aluno in alunos %}
    <article>
        <header>
            <h3>{{ aluno.nome }}</h3>
            <p><strong>Número:</strong> {{ aluno.numero }}</p>
        </header>
        <section>
            <h4>Cursos Inscritos</h4>
            <div class="badge-container">
                {% for curso in aluno.cursos.all %}
                    <span class="badge">{{ curso.nome }}</span>
                {% empty %}
                    <p>Não está inscrito em nenhum curso.</p>
                {% endfor %}
            </div>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}