{% extends "escola/base.html" %}

{% block content %}
<h2>Cursos</h2>
<section>
    {% for curso in cursos %}
    <article>
        <header>
            <h3>{{ curso.nome }}</h3>
            {% if curso.imagem %}
                <img src="{{ curso.imagem.url }}" alt="Logotipo de {{ curso.nome }}">
            {% endif %}
            <p><strong>Professor:</strong> {{ curso.professor.nome }}</p>
        </header>
        
        <section>
            <h4>Alunos Inscritos</h4>
            <div class="badge-container">
                {% for aluno in curso.alunos.all %}
                    <span class="badge">{{ aluno.nome }}</span>
                {% empty %}
                    <p>Sem alunos inscritos</p>
                {% endfor %}
            </div>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}